#ext_menu-5 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #1abc9c;
}
#ext_menu-5 .mbr-navbar__section {
  background: #1abc9c;
}
#ext_menu-5 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-16 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-16.mbr-navbar--stuck .mbr-navbar__section {
  background: #1abc9c;
}
#ext_menu-16 .mbr-navbar__section {
  background: #1abc9c;
}
#ext_menu-16 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-19 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-19.mbr-navbar--stuck .mbr-navbar__section {
  background: #1abc9c;
}
#ext_menu-19 .mbr-navbar__section {
  background: #1abc9c;
}
#ext_menu-19 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-20 H1 {
  font-size: 20px;
}
#ext_menu-29 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-29.mbr-navbar--stuck .mbr-navbar__section {
  background: #1abc9c;
}
#ext_menu-29 .mbr-navbar__section {
  background: #1abc9c;
}
#ext_menu-29 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-30 H1 {
  font-size: 12px;
}
#ext_menu-33 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-33.mbr-navbar--stuck .mbr-navbar__section {
  background: #1abc9c;
}
#ext_menu-33 .mbr-navbar__section {
  background: #1abc9c;
}
#ext_menu-33 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-20 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-20.mbr-navbar--stuck .mbr-navbar__section {
  background: #1abc9c;
}
#ext_menu-20 .mbr-navbar__section {
  background: #1abc9c;
}
#ext_menu-20 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-25 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-25.mbr-navbar--stuck .mbr-navbar__section {
  background: #1abc9c;
}
#ext_menu-25 .mbr-navbar__section {
  background: #1abc9c;
}
#ext_menu-25 .mbr-navbar__hamburger {
  color: #ffffff;
}
